In [34]:
from data_process import process_data
from feature import determine_feature_set

In [35]:
from xgboost import XGBRegressor

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

import pandas as pd

In [36]:
df = pd.read_csv('modifiedkaggletraffic2.csv', names=['date_time', 'value','id'])

In [32]:
proc_data = process_data(df, quick_start=False)

In [33]:
proc_data.dataset.head()

                     value           id
date_time
2015-11-01 00:00:00   15.0  20151101001
2015-11-01 01:00:00   13.0  20151101011
2015-11-01 02:00:00   10.0  20151101021
2015-11-01 03:00:00    7.0  20151101031
2015-11-01 04:00:00    9.0  20151101041

In [11]:
train_x, test_x, train_y, test_y = train_test_split(
            proc_data[['date_time']], proc_data['value'], test_size=0.2, shuffle=False)

In [27]:
train_x

                 date_time
0      2015-11-01 00:00:00
1      2015-11-01 01:00:00
2      2015-11-01 02:00:00
3      2015-11-01 03:00:00
4      2015-11-01 04:00:00
...                    ...
11668  2017-03-01 04:00:00
11669  2017-03-01 05:00:00
11670  2017-03-01 06:00:00
11671  2017-03-01 07:00:00
11672  2017-03-01 08:00:00

[11673 rows x 1 columns]

In [12]:
xgb_model = XGBRegressor(eval_metric='mae')

In [ ]:
xgb_model.fit(train_x, 
          train_y,
          eval_set=[(train_x, train_y), (test_x, test_y)],
          verbose=False
         )